<html>
    <head>
        <title>新增用戶</title>
    </head>
    <body>
        <form action="/api/joblist" method="post">
            <!-- <label for="username">用戶名：</label>
            <input type='text' name='username' ><br>

            <label for="password">密碼：</label>
            <input type="password"  name='password'><br> -->

            <label for="id">ID:</label>

            certificate<input type="text"  name='certificates'><br>
            exp<input type="text"  name='ede'><br>
            language<input type="text"  name='language_req'><br>
            skill<input type="text"  name='job_skill'><br>
            <!-- <input type="text"  name='id'><br>
            name<input type="text"  name='username'><br>
            t<input type="text"  name='token'><br>
            email<input type="text"  name='email'><br>
            certificate<input type="text"  name='certificate'><br>
            language<input type="text"  name='language'><br>
            edu<input type="text"  name='edu'><br>
            exp<input type="text"  name='exp'><br>
            other<input type="text"  name='other'><br> -->

            <input type="submit" value="新增用戶">
        </form>
    </body>
</html>